:root {
    font-size: 16px;
    font-family: "Nunito", "Noto Sans TC", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: var(--font-color);
    --font-color: #2f2f2f;
    --bg-primary: #FFFFFF;
    --accent: #28536B;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-primary);
    background-size: cover;
}

.content{
    margin-top: 90px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content{
    align-items: right;
}

.title{
    font-size: 1.5rem;       
}

.info{
    margin-bottom: 15px;
}

.weather-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    height: 20px;
}

.weather-info > p{
    margin: 0;
}

.weather-info > img{
    margin: 0;
    position: relative;
    top: -12px;
}

.styled-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: var(--accent);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--accent);
}

@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    .content{
        margin-top: 40px;
        max-width: 90%;
    }

    .weather-info{
        height: 30px;
    }
}

@media only screen and (max-width: 450px) {
    /* For mobile phones: */

    .weather-info{
        height: 40px;
    }
}